.singleMovie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  background-color: #1f1f1f;
  section {
    display: flex;
    align-items: center;
    width: 62.25rem;
    .movie-header {
      display: flex;
      flex-direction: column;
      color: whitesmoke;
    }
    .singleMovieRating {
      display: flex;
      margin-left: auto;
      gap: 2rem;
      color: #bcbcbc;
    }
  }
  .movieAndTrailer {
    display: flex;
    gap: 0.5rem;
    .singleMovieImg {
      width: 16.75rem;
      height: 25.25rem;
    }
    .movieTrailer {
      width: 45rem;
      height: 25.25rem;
    }
  }
  .movieInfo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    hr {
      color: whitesmoke;
      width: 30rem;
    }
    display: flex;
    width: 64.25rem;
    .movie-text {
      width: 30rem;
      color: whitesmoke;
    }
  }
}
