.card-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  .movieCard-container {
    display: flex;
    flex-direction: column;
    width: 9.5rem;
    height: 25rem;
    background-color: #1a1a1a;
    .movie-img {
      width: 9.5rem;
      height: 14rem;
    }
    .movie-rating {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem;
      .star {
        width: 0.8rem;
        height: 0.8rem;
      }
    }
    .movieLink {
      span {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 9rem;
        height: 2.5rem;
        color: whitesmoke;
        font-size: 1rem;
        padding: 0.5rem;
      }
    }
    .action-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;

      button {
        padding: 1rem;
      }
    }
  }
}
