.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  gap: 1rem;
  background-color: rgb(18, 18, 18);
  border-radius: 3px;

  nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    input {
      width: 45rem;
      height: 2rem;
      border-radius: 5px;
      border-style: none;
    }

    .logo {
      width: 4rem;
      height: 2rem;
    }

    .seperator-bar {
      width: 0.125rem;
      height: 2rem;
      background-color: rgb(56, 56, 56);
    }

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .dropdown {
    display: flex;
    justify-content: center;
    ul {
      width: 5rem;
      height: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 1.5rem;
      padding: 0;
      gap: 0.5rem;
      margin-bottom: auto;
      position: absolute;
      border: 0.5px solid black;
      border-radius: 3px;
      background-color: rgb(35, 35, 35);
      li {
        display: flex;
        justify-content: center;
      }
    }
  }
}
