.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  gap: 1rem;
  background-color: rgb(18, 18, 18);

  nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .logo {
      width: 4rem;
      height: 2rem;
    }

    .separator-bar {
      width: 0.125rem;
      height: 2rem;
      background-color: rgb(56, 56, 56);
    }

    .button-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dropdown-menu {
      text-align: center;
      width: 6.125rem;
      color: white;
      background-color: rgb(37, 37, 37);
    }
  }
}
