.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  gap: 1rem;
  background-color: rgb(18, 18, 18);
}
.navbar-container nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.navbar-container nav input {
  width: 45rem;
  height: 2rem;
  border-radius: 5px;
  border-style: none;
}
.navbar-container nav .logo {
  width: 4rem;
  height: 2rem;
}
.navbar-container nav .seperator-bar {
  width: 0.125rem;
  height: 2rem;
  background-color: rgb(56, 56, 56);
}
.navbar-container nav .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-container nav .dropdown-menu {
  text-align: center;
  width: 6.125rem;
  color: white;
  background-color: rgb(37, 37, 37);
}

body {
  background-color: rgb(0, 0, 0);
}

.main-container {
  display: flex;
  justify-content: center;
}

.btn-navbar {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: auto;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: whitesmoke;
  background-color: rgb(18, 18, 18);
  border-style: none;
  transition-duration: 0.2s;
  border-radius: 3px;
  text-decoration: none;
}
.btn-navbar:hover {
  background-color: rgb(37, 37, 37);
}
.btn-navbar:active {
  background-color: rgba(255, 255, 255, 0.291);
}

.btn-imdb-pro {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.25rem;
  width: 5.25rem;
  margin-left: 0.75rem;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: whitesmoke;
  background-color: rgb(18, 18, 18);
  border-style: none;
  transition-duration: 0.2s;
  border-radius: 3px;
}
.btn-imdb-pro:hover {
  background-color: rgb(37, 37, 37);
}
.btn-imdb-pro:active {
  background-color: rgba(255, 255, 255, 0.291);
}
.btn-imdb-pro .linkBtn {
  color: whitesmoke;
  text-decoration: none;
}

.btn-search {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -3rem;
  height: 2rem;
  background-color: white;
  color: rgb(75, 75, 75);
  border-radius: 3px;
  border-style: none;
}

.btn-menu {
  cursor: pointer;
  width: 6rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(18, 18, 18);
  color: white;
  border-radius: 3px;
  border-style: none;
  transition-duration: 0.2s;
}
.btn-menu:hover {
  background-color: rgb(37, 37, 37);
}
.btn-menu:active {
  background-color: rgba(255, 255, 255, 0.291);
}
.btn-menu .hamburger {
  display: flex;
  align-items: center;
}

.btn-star {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.25rem;
  width: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: whitesmoke;
  background-color: #1a1a1a;
  border-style: none;
  transition-duration: 0.2s;
  border-radius: 3px;
  text-decoration: none;
}
.btn-star:hover {
  background-color: rgb(37, 37, 37);
  color: whitesmoke;
}
.btn-star:active {
  background-color: rgba(255, 255, 255, 0.291);
}
.btn-star .star-empty {
  width: 0.8rem;
  height: 0.8rem;
}

.card-container {
  display: flex;
  width: 65rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.card-container .movieCard-container {
  display: flex;
  flex-direction: column;
  width: 9.5rem;
  height: 25rem;
  background-color: #1a1a1a;
}
.card-container .movieCard-container .movie-img {
  width: 9.5rem;
  height: 14rem;
}
.card-container .movieCard-container .movie-rating {
  display: flex;
  align-items: center;
  height: 3rem;
  gap: 0.5rem;
  padding: 0.5rem;
}
.card-container .movieCard-container .movie-rating span {
  display: flex;
  align-items: center;
  color: whitesmoke;
}
.card-container .movieCard-container .movie-rating span .star {
  width: 0.8rem;
  height: 0.8rem;
}
.card-container .movieCard-container .movieLink {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
  height: auto;
  color: whitesmoke;
  font-size: 1rem;
  padding: 0.5rem;
}
.card-container .movieCard-container .action-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem;
}
.card-container .movieCard-container .action-container button {
  padding: 1rem;
}

.hero-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: whitesmoke;
}

.dropdown-menu {
  height: 100%;
  background-color: #1a1a1a;
}

.menu-header {
  display: flex;
}/*# sourceMappingURL=index.css.map */